spring:
  datasource:
    url: jdbc:mysql://localhost:3306/studentdb?createDatabaseIfNotExist=true
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8080
